* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: sans-serif;
}

.board {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  user-select: none;
}

.board-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-header button {
  border: none;
  outline: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.board-header button:active {
  scale: 0.95;
}

.cell {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.cell:hover {
  background: rgba(0, 0, 0, 0.1);
}
